@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

html, p, textarea, input {
	font: 13px arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 24px;
}

input:focus, textarea:focus {
	outline: none;
}

.inlineDiv {
	display: inline;
}

.centerDiv {
	margin: auto 10%;
	width: 80%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.centerTextArea {
	width: 100%;
}

.centerKeyDiv {
	width: 100%;
	border: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #eae9e9;
	line-height: 30px;
}

.centerButton {
	width: 100%;
	border: 0px;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 5px;
	background-color: #d3d3d3;
}

.centerButton:hover {
	background-color: #a9a9a9;
	color: white;
}

.resultDiv {
	width: 100%;
	border: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.resultTitle {
	background-color: #d3d3d3;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 30px;
}

.resultList {
	background-color: #eae9e9;
	margin-bottom: 5px;
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
}